<h1>Home</h1>
  
<div class="cards">
    <div class="card">
        <div class="card-icon follow">
            <span class="fa fa-users"></span> 
        </div>
    <div class="card-info">
       <h2>{{statowner.monthsmoney}}</h2>
       <small>Money/month</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
    </div>
    <div class="card">
        <div class="card-icon mod">
            <span class="fa fa-users"></span>
        </div>
    <div class="card-info">
       <h2>{{statowner.nbrmoderateur}}</h2>
       <small>Total Moderator</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
    </div>
    <div class="card">
        <div class="card-icon comment">
            <span class="fa fa-money"><i class="fa fa-usd" aria-hidden="true"></i></span>
        </div>
    <div class="card-info"> 
       <h2>{{statowner.todaysmoney}}</h2>
       <small>Today's money</small>
    </div>
    <div class="card-images">
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
        <div ><img [src]="imgprofil"></div>
       </div>
    </div>
    <div class="card">
        <div class="card-icon likes">
            <span class="fa fa-user"></span>
        </div>
    <div class="card-info">
       <h2>{{statowner.nbrstation}}</h2>
       <small>stations</small>
    </div>
   <div class="card-images">
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
    <div ><img [src]="imgprofil"></div>
   </div>
   </div>   
  </div>  
  