.from-outline form {
    display: flex;
    align-items: left;
}

.from-outline form > * {
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .from-outline form {
        flex-direction: column;
        align-items: flex-start;
    }

    .from-outline form input,
    .from-outline form button {
        margin-top: 10px;
        width: 100%;
    }
}
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* ensure the popup is above other content */
  }
  
  .popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* drop shadow */
    max-width: 400px; /* adjust based on your design */
    width: 100%;
    max-height: 80%; /* adjust based on your design */
    overflow-y: auto; /* enable scrolling if content exceeds container height */
    z-index: 10000; /* ensure the main popup is below the success popup */
  }

.table{
    margin-top: 50px;
}
.btn-outline-create {
  --color: #22aa5f;
  max-width: 20%;
  font-family: inherit;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  color: var(--color);
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
 }
 
 .btn-outline-create:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .btn-outline-create:hover {
    color: #075a2d;
   }

 .btn-outline-create:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
  background-color: #00f870;
 }
 
 .btn-outline-create:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .btn-outline-create:active:before {
  background: #42bc23;
  transition: background 0s;
 }
 